{% extends 'chat/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div id="chat-room" room_code={{group.id}} class="wrapper col-lg-10">
            <div class="p-1 border-bottom border-secondary d-flex justify-content-between bg-dark align-items-center">
                <div class="d-flex align-items-center">
                    <i class="fa fa-hashtag" aria-hidden="true"></i>               
                    <h4>{{group.name}}</h4>
                </div>
                <a href="{% url 'home' %}"><i class="fa fa-home mx-2" aria-hidden="true"></i></a>
            </div>
            <div id="messages">
                {% for message in messages %}
                {% include 'chat/message/message.html' %}
                {% endfor %}
                <div class="anchor"></div>
            </div>
            <form id="form" class="custom-form" role="search">
                <div class="input-group input-group-lg">
                    <input name="message" type="text" class="form-control" placeholder="Message {{group.name}}" aria-label="Search">
                </div>
            </form>
        </div>
        <div class="col-lg-2 d-none d-lg-inline-block border-secondary border-start">
            <h5>Members</h5>
            {% for member in members %}
            <p>{{member.member.username}}</p>
            {% endfor %}
        </div>
    </div>
</div>

<script type="text/javascript">
    var ws_scheme = "wss";//window.location.protocol === "https" ? "wss" : "ws";
    var roomCode = document.getElementById("chat-room").getAttribute("room_code")
    let url = ws_scheme + '://' + window.location.host + '/ws/chat/' + roomCode
    const chatSocket = new WebSocket(url)

    chatSocket.onmessage = function(e) {
        let data = JSON.parse(e.data)
        console.log('Data: ', data)

        if (data.type === 'chat') {
            let messages = document.getElementById('messages')
            let anchor = messages.querySelector('.anchor'); // Get the anchor element
            anchor.insertAdjacentHTML('beforebegin', `{% include 'chat/message/message-append.html' %}`);
            scrollToBottom();
        }
    }
    let form = document.getElementById('form')
    form.addEventListener('submit', (e) => {
        e.preventDefault()
        let message = e.target.message.value
        chatSocket.send(JSON.stringify({
            'message': message
        }))
        form.reset()
    })
</script>
<script src="{% static 'chat.js' %}"></script>
{% endblock %}