.wrapper {
    display: flex; /* relevant part */
    flex-direction: column; /* relevant part */
    overflow: hidden; /* relevant part */
    font-family: 'Arimo', sans-serif;
    height: 100vh;
}

#messages {
    overflow-y: auto; /* relevant part */
}

#messages img {
  max-width: 75%;
  max-height: 50vh;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #9fa2a3;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6e7779;
}

#image-append img{
  border-radius: 4%;
  max-width: 75%;
  max-height: 35vh;
}

#file-input {
  display: none;
}

.custom-label {

  border: none;
  background: #084cdf;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

.custom-label:hover {
  background: #0d45a5;
}